.material
    cursor: pointer

.material
    md-dialog
        max-height: none
        max-width: none
        margin-left: 0

.material-name, .moment-name
    font-size: 0.95em

.material-property-label, .supported-weight-label
    font-size: 0.75em

.material-property-value
    font-size: 0.85em

md-toolbar.toolbar
    .supported-weight
        margin-left: 0
        padding-right: 20px

.supported-weight
    .material-property-value
        font-size: 1.3em
