doctype html5
html(lang='en', ng-app='eau')
  head(ng-controller='HeadCtrl')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width,initial-scale=1')

    title {{ title }}

    link(rel='stylesheet', href='vendors.css')

    link(rel='stylesheet', href='/all.css')
    link(rel='stylesheet', href='/screen.css', media="screen")
    link(rel='stylesheet', href='/print.css', media="print")

    script(src="vendors.js")

    //- Comment below to disable real-time sockets.
    script(src="socket.io/socket.io.js")

  body(layout="horizontal")
    md-sidenav.md-whiteframe-z1.md-sidenav-left(
      md-is-locked-open="true"
      layout="column"
    )
      md-toolbar
        h2.md-toolbar-tools Simulations
      md-content(flex)
        navigation
    div(
      role="main"
      layout="column"
      flex
    )
      md-toolbar
        h2.md-toolbar-tools
          span Verlet PoC
      md-content
        ui-view(name='simulation')

    script(src="templates.js")
    script(src="workers.js")
    script(src="application.js")
